/* row cards to dynamics and activities */
.row-cards {
    box-sizing: border-box;
    width: 100%;
    padding-left: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
}

/* ------------------------MODAL QUE NO USE------------------------ */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal-shows {
    opacity: 1;
    pointer-events: unset;
}

.modal-container {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
}

.modal-close {
    color: white;
    background-color: #AE5CFF;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal-close:hover {
    color: #AE5CFF;
    background-color: white;
}

/*------------------------CARDS DYNAMIC------------------------*/
.dynamic-fatter {
    width: 100%;
    border: 4px #AE5CFF solid;
    border-radius: 18px;
    text-align: center;
}

.dynamic-child {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.media {
    width: 50%;
    height: auto;
}

.buttoncard {
    width: 100%;
    height: 40px;
    background-color: #AE5CFF;
    border-radius: 30px;
    color: white;
}

/*------------------------CARDS ACTIVITIES------------------------*/

.activities-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: auto;
    border: 4px #AE5CFF solid;
    border-radius: 20px;
    gap: 15px;
}

.activities-title {
    width: 90%;
    height: 30px;
    background: #6FB8F5;
    border-radius: 18px;
    text-align: center;
    margin: 1%;
    padding: 2%;
}

.activities-image {
    width: 100%;
    height: 130px;
    background-image: url("../ilustrations/task.svg");
    background-repeat: no-repeat;
    background-size: 100% 130px;
}

.activities-course {
    width: 100%;
    text-align: start;
}

.activities-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}

.activities-descriptions-title {
    width: 100%;
    text-align: center;
}

.activities-descriptions-text {
    width: 80%;
    text-align: center;
    margin: 2%;
}

.activities-button {
    width: 90%;
    height: 60px;
    font-size: 1.3rem;
    margin: 2%;
    background: #AE5CFF;
    border: 2px #AE5CFF solid;
    border-radius: 20px;
    color: white;
}

.activities-button:hover {
    background: white;
    color: #AE5CFF;
    border: 2px #AE5CFF solid;
}

/*------------------------CARDS BOOKS------------------------*/

.books-containers {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 80%;
    height: auto;
    border: 4px #AE5CFF solid;
    border-radius: 20px;
}

.books-favorites {
    width: 100%;
    align-items: flex-end;
}

.books-name{
    text-align: center;
}

.books-button{
    width: 60%;
    height: 32px;
    background: #AE5CFF;
    color: white;
    border: 1px #AE5CFF solid;
    border-radius: 10px;
    margin: 5%;
}