
.div-center-elements{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
}

.div-left-elements{
    display: flex;
    justify-content: flex-end;
    
}

.div-right-elements{
    display: flex;
    justify-content: flex-start;
}

.background-purple{
    background-color: #754CCE;
    color: white !important;
    height: 100vh;
}

.background-white{
    color: black;
}