.padre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.btn {
    width: 100%;
    height: 60px;
    font-size: 1.3rem;
    background: #AE5CFF;
    border: 2px #AE5CFF solid;
    border-radius: 20px;
    color: white;
}

.btn:hover{
    background: white;
    color: #AE5CFF;
    border: #AE5CFF;
}

.span {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 1rem;
    
}
